@mixin responsive($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 510px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1px;
    scroll-behavior: smooth;
    margin: auto;

    @include sp {
        font-size: calc(1/510*100vw) !important;
    }
}


.header {
    background: url(../img/bg_first_image.jpg) no-repeat;
    background-size: cover;
    justify-content: left;
    background-color: #f7f7f7;
    display: block;
    height: calc(100vh - 100px);

    @include responsive(1200px) {
        height: calc(100vh - 100/1200*100vw);
    }

    @include sp {
        background: url(../img/first_logo_sp.png) no-repeat left top, url(../img/bg_first_image.jpg) no-repeat center 100px;
        background-size: 100%, 200%;
        display: block;
        height: unset;
        position: relative;
    }

    .img-group {
        height: 100%;

        @include sp {
            height: max-content;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .first-img {
            position: absolute;
            background-image: url(../img/first_logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            width: 448px;
            height: 40%;

            @include responsive(1024px) {
                width: calc(448/1024*100vw);
                height: calc(343/1024*100vw);
            }

            @include sp {
                display: none;
            }
        }

        .second-img {
            position: absolute;
            background-image: url(../img/bg_first_top_right.png);
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;
            top: 0;
            right: 0;
            width: 743px;
            height: 40%;

            @include responsive(1024px) {
                width: calc(743/1024*100vw);
                height: calc(388/1024*100vw);
                background-position: unset;
            }

            @include sp {
                display: none;
            }
        }

        .third-img {
            background-image: url(../img/bg_first_right_bottom.png);
            background-size: cover;
            position: absolute;
            bottom: 100px;
            right: 0;
            width: 789px;
            height: 383px;

            @include responsive(1024px) {
                bottom: calc(100/1024*100vw);
                width: calc(789/1024*100vw);
                height: calc(383/1024*100vw);
            }

            @include sp {
                display: none;
            }

            .head-introduce {
                position: absolute;
                right: 40px;
                bottom: 0;
                color: white;
                font-weight: 600;
                font-size: 18px;
                text-align: end;

                @include responsive(1024px) {
                    right: calc(40/1024*100vw);
                    font-size: calc(18/1024*100vw);
                }

                @include sp {
                    right: 40rem;
                    font-size: 18rem;
                }
            }
        }

        .letter-img {
            position: absolute;
            background-image: url(../img/first_catchcopy.png);
            background-size: contain;
            background-repeat: no-repeat;
            top: 17%;
            left: 80px;
            width: 50%;
            height: 70%;

            @include responsive(1024px) {
                left: calc(80/1024*100vw);
            }

            @include sp {
                position: relative;
                margin-top: 170rem;
                left: 0;
                width: 70%;
                height: 480rem;
            }
        }
    }

    .group {
        position: absolute;
        top: 40px;
        right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;

        @include sp {
            display: none;
            height: 0;
        }

        .text {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .text-1 {
                display: flex;
                width: 100%;

                column-gap: 10px;
                color: white;
                font-weight: bolder;
                line-height: 1;

                .head-sm {
                    font-size: 28px;

                    @include responsive(1024px) {
                        font-size: calc(28/1024*100vw);
                    }
                }

                .head-lg {
                    font-size: 54px;

                    @include responsive(1024px) {
                        font-size: calc(54/1024*100vw);
                    }
                }
            }

            .text-2 {
                font-weight: bolder;
                font-size: 28px;
                text-align: end !important;
                color: white;

                @include responsive(1024px) {
                    font-size: calc(28/1024*100vw);
                }
            }
        }


        .main-img {
            position: absolute;
            z-index: 1;

            @include responsive(1024px) {}
        }

        .text-detail {
            position: relative;
            top: 50px;
            z-index: 2;

            p {
                line-height: 1;
                transform: scale(0.5);
                font-weight: bolder;
                font-size: 50px;
                color: red;
                -moz-text-fill-color: red;
                -webkit-text-fill-color: red;
                -moz-text-stroke-color: white;
                -webkit-text-stroke-color: white;
                -moz-text-stroke-width: 1px;
                -webkit-text-stroke-width: 1px;
            }

            a {
                position: relative;
                background-color: #cda922;
                border-radius: 20px;
                color: white;
                padding: 5px 45px;
                font-weight: 600;
                font-size: 18px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;

                @include responsive(1024px) {
                    border-radius: calc(20/1024*100vw);
                    padding: calc(5/1024*100vw) calc(45/1024*100vw);
                    font-size: calc(18/1024*100vw);
                }
            }

            @include responsive(1024px) {
                font-size: calc(20/1024*100vw);
            }
        }

    }

    .letter-group {
        position: absolute;
        right: 0;
        top: 47%;

        @include sp {
            position: relative;
            height: 410px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 50rem;
            background-color: #ad3b46;
        }

        & div {
            width: 450px;
            height: 50px;
            position: relative;

            @include responsive(1024px) {
                width: calc(450/1024*100vw);
                height: calc(50/1024*100vw);
            }

            @include sp {
                width: 80%;
            }

            &:first-child {
                margin-bottom: 30px;

                @include responsive(1024px) {
                    margin-bottom: calc(30/1024*100vw);
                }

                @include sp {
                    margin-bottom: unset;
                }
            }

            &.head-sp-text {
                display: none;
                height: unset;

                @include sp {
                    display: block;
                    width: 85%;
                    font-size: 22rem;
                    font-weight: bold;
                    color: white;
                }
            }

            img {
                width: 100%;
            }
        }
    }

}

.fixContainer {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(145, 38, 54);
    padding: 5px;

    @include responsive(1200px) {
        height: calc(100/1200*100vw);
    }

    @include sp {
        position: unset;
        padding: 20px;
        align-items: center;
        height: 100rem;
    }

    .contactLink {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;

        .contact-tel {
            display: flex;
            align-items: center;

            .contact-tel-img {
                height: 30px;
                width: 30px;

                @include responsive(1200px) {
                    width: calc(30/1200*100vw);
                    height: calc(30/1200*100vw);
                }

                @include sp {
                    width: 30rem;
                    height: 30rem;
                }

                img {
                    width: 100%;
                }
            }

            .contact-tel-number {
                font-size: 20px;
                color: white;

                @include responsive(1200px) {
                    font-size: calc(20/1200*100vw);
                }

                @include sp {
                    font-size: 20rem;
                }
            }
        }

        .contact-text {
            text-align: center;
            padding: 0;
            margin: 0;
            color: white;
            font-size: 20px;
            font-weight: bold;

            @include responsive(1200px) {
                font-size: calc(20/1200*100vw);
            }

            @include sp {
                font-size: 15rem;
            }
        }
    }

    .button-group {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 50px;

        @include responsive(1200px) {
            column-gap: calc(50/1200*100vw);
        }

        @include sp {
            flex-direction: column;
        }

        .button_question {
            margin: 0;
            padding: 0;
            height: 50px;
            width: 350px;
            background-color: rgb(255, 255, 255);
            color: rgb(188, 0, 9);
            border-radius: 45px;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border: none !important;
            border: solid black 1px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;

            @include responsive(1200px) {
                width: calc(350/1200*100vw);
                height: calc(50/1200*100vw);
                border-radius: calc(45/1200*100vw);
                font-size: calc(18/1200*100vw);
            }

            @include sp {
                border-radius: 45rem;
                width: 200rem;
                height: 30rem;
                margin: 5px 0px;
                font-size: 18rem;
                border-radius: 45rem;
            }

            &:focus {
                background-color: rgb(224, 224, 224);
            }
        }

    }
}